.container {
  padding: 30px 3rem 0 3rem;
  height: 100vh;
}
.container .meet-box {
  background-image: url(/images/container-bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  max-height: 524px;
  padding: 75px 50px;
}
.container .meet-box .left-aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .meet-box__title {
  max-width: 360px;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.container .list {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
}
.container .list__link {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
.container .list__link:hover {
  text-decoration: underline;
}
.container .hide-left {
  transform: translateX(-200%);
}
.container .sales {
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}
.container .sales__title {
  text-transform: uppercase;
  font-size: 2.125rem;
  font-weight: 700;
  margin: 0;
}
.container .sales__description {
  margin-top: 0.625rem;
  font-size: 1.125rem;
  font-weight: 500;
}
.container .buttons {
  margin-top: 1.75rem;
  display: flex;
  text-align: center;
  margin: 0 auto;
  gap: 1rem;
}
.container .buttons .btn {
  text-align: center;
  width: 10rem;
  padding: 1rem;
  font-size: 1.125rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.container .buttons .btn-later {
  transition: 0.15s;
  background: #eee;
  color: #000;
}
.container .buttons .btn-later:hover {
  background: rgb(187, 187, 187);
}
.container .buttons .btn-watch {
  transition: 0.15s;
  background: #000;
  color: #eee;
}
.container .buttons .btn-watch:hover {
  background: #333;
}
.container .popular {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.container .box__nav {
  display: flex;
  justify-content: space-between;
}
.container .box__title {
  font-size: 1.5rem;
  font-weight: 600;
}
.container .box__arrows {
  display: flex;
  gap: 1.5rem;
}
.container .box__arrows .arrow {
  border: none;
  background: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}
.container .box .slider {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.container .box .card {
  cursor: pointer;
  width: 30;
  max-height: 28.375rem;
  background: #eee;
}
.container .box .card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: grid;
  place-items: center;
  height: 100%;
}
.container .box .card__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1.375rem;
}
.container .box .card__text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.container .box .card__title {
  max-width: 15rem;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.container .box .card__subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  color: #949494;
  margin: 0;
  padding: 0;
}
.container .box .card__price {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.container .slider {
  display: grid;
  grid-template-columns: minmax(400px, 52.5rem) minmax(400px, 52.5rem);
  gap: 2rem;
}
.container .discount {
  margin-top: 8.75rem;
}
.container .card {
  cursor: pointer;
}
.container .card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: grid;
  place-items: center;
  height: 100%;
  max-height: 28.375rem;
}
.container .card__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1.375rem;
}
.container .card__text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.container .card__title {
  max-width: 15rem;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.container .card__subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  color: #949494;
  margin-top: 5px;
  padding: 0;
}
.container .card__price {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.container .models {
  margin-top: 8.75rem;
}
.container .models .box__nav {
  display: flex;
  justify-content: space-between;
}
.container .models .box__title {
  font-size: 1.5rem;
  font-weight: 600;
}
.container .models .box__arrows {
  gap: 1.5rem;
}
.container .models .box__arrows .arrow {
  border: none;
  background: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}
.container .models .card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 3.43rem;
  padding-bottom: 4.875rem;
  background: url(/images/models.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 780px;
}
.container .models .card__title-white {
  font-size: 1.375rem;
  color: #fff;
  font-weight: 500;
}
.container .models .card__button {
  color: #fff;
  border: none;
  background: #000;
  padding: 1rem 2rem;
  border-radius: 50px;
  cursor: pointer;
}/*# sourceMappingURL=container.css.map */